.calcBlock {
  width: 450px;
  height: 400px;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 30px;
  margin: 100px auto;
}

.inputCalc {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px auto;
  width: 300px;
  height: 30px;
  padding: 10px 15px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 5px;
  outline: none;
  text-align: right;
  font-size: 30px;
}

.inputCalc.red {
  color: red;
}

.inputCalc.black {
  color: black;
}

.buttonBlock {
  display: flex;
}

.numberBlock {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  flex-wrap: wrap;
  width: 60%;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.operBlock {
  display: flex;
  height: inherit;
  justify-content: space-around;
  margin-right: 30px;
  flex-wrap: wrap;
  width: 40%;
}

.operButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
